.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  max-width: 254px;
  height: 472px;
}
.card__image {
  height: 332px;
  width: 224px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 2px 13px;
  text-align: center;
}

.card__title {
  margin: 10px 0;
  height: 32px;
  padding-left: 1rem;
}

.card__product-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  padding-left: 1rem;
  height: 32px;
}

.card__product-price {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.card__add-to-cart-button {
  width: 233px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: rgba(255, 96, 0, 0.11);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 24px 10px 20px 10px;
  cursor: pointer;

  color: #ff6000;
}

.card__add-to-cart-button__disabled {
  background: rgba(126, 126, 126, 0.11);
  color: #b0b0b0;
  pointer-events: none;
}
