.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.line-18 {
  line-height: 18px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.color-red {
  color: #f90000;
}

.text-through {
  text-decoration: line-through;
}

.mr-2 {
  margin-right: 0.25rem;
}
